#outcome-heading {
    display: inline;
    margin-right: 20px;
}

#outcome-select {
    display: inline;
    width: 350px;
}

.data-table-dots {
    min-width: 70px;
    color: #34CF62;
}

#data-table td {
    height:30px;
}
